<table>
  <tr>
    <td>
<table border="1" class="dataframe" align='left'>
  <thead>
    <tr style="text-align: center;">
     <th></th>
      <th>converted index mean periodic return</th>
      <th>standard deviation converted index</th>
      <th>sharpe ratio converted index</th>
      <th>return converted index (2014 - 2019) in percentage</th>
      <th>currency mean periodic return</th>
      <th>std currency excess return</th>
      <th>sharpe currency</th>
      <th>return currency (2014 - 2019) in percentage</th>
      <th>unconverted index mean periodic return</th>
      <th>unconverted index mean periodic return</th>
      <th>std unconverted index riskpremium</th>
      <th>sharpe unconverted index</th>
      <th>return uncoverted index (2014 - 2019) in percentage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Vietnam</th>
      <td>0.109174</td>
      <td>0.192415</td>
      <td>0.487874</td>
      <td>73.861479</td>
      <td>0.016154</td>
      <td>0.017113</td>
      <td>0.049894</td>
      <td>10.018993</td>
      <td>0.125188</td>
      <td>0.125188</td>
      <td>0.183045</td>
      <td>0.600333</td>
      <td>91.280649</td>
    </tr>
    <tr>
      <th>Thailand</th>
      <td>0.075384</td>
      <td>0.189343</td>
      <td>0.317330</td>
      <td>41.117859</td>
      <td>-0.012337</td>
      <td>0.059900</td>
      <td>-0.461392</td>
      <td>-9.135053</td>
      <td>0.052968</td>
      <td>0.052968</td>
      <td>0.147893</td>
      <td>0.254700</td>
      <td>28.226668</td>
    </tr>
    <tr>
      <th>Indonesia</th>
      <td>0.051553</td>
      <td>0.151196</td>
      <td>0.239779</td>
      <td>27.066866</td>
      <td>0.024794</td>
      <td>0.049268</td>
      <td>0.192703</td>
      <td>14.567901</td>
      <td>0.071722</td>
      <td>0.071722</td>
      <td>0.123034</td>
      <td>0.458585</td>
      <td>45.577842</td>
    </tr>
    <tr>
      <th>Philippines</th>
      <td>0.032925</td>
      <td>0.152530</td>
      <td>0.115549</td>
      <td>14.368759</td>
      <td>0.023277</td>
      <td>0.031929</td>
      <td>0.249820</td>
      <td>14.189341</td>
      <td>0.053455</td>
      <td>0.053455</td>
      <td>0.134917</td>
      <td>0.282804</td>
      <td>30.596933</td>
    </tr>
    <tr>
      <th>Singapore</th>
      <td>0.004915</td>
      <td>0.156528</td>
      <td>-0.066347</td>
      <td>-4.621388</td>
      <td>0.011006</td>
      <td>0.045851</td>
      <td>-0.093651</td>
      <td>6.423611</td>
      <td>0.009341</td>
      <td>0.009341</td>
      <td>0.112499</td>
      <td>-0.052971</td>
      <td>1.505363</td>
    </tr>
    <tr>
      <th>Malaysia</th>
      <td>-0.047736</td>
      <td>0.125611</td>
      <td>-0.501831</td>
      <td>-30.214680</td>
      <td>0.042921</td>
      <td>0.095181</td>
      <td>0.290193</td>
      <td>24.946728</td>
      <td>-0.017878</td>
      <td>-0.017878</td>
      <td>0.047024</td>
      <td>-0.705560</td>
      <td>-12.805526</td>
    </tr>
    <tr>
      <th>Laos</th>
      <td>-0.099012</td>
      <td>0.102707</td>
      <td>-1.112991</td>
      <td>-47.952027</td>
      <td>0.017910</td>
      <td>0.102707</td>
      <td>0.025413</td>
      <td>10.875000</td>
      <td>-0.083387</td>
      <td>-0.083387</td>
      <td>0.100044</td>
      <td>-0.986432</td>
      <td>-42.291810</td>
    </tr>
  </tbody>
</table>
<tr>
  <td>
<table>
  <tr>
    <td><img src={{url_for('static', filename='unconstd1.png')}}/> </td>
    <td><img src={{url_for('static', filename='unconsharpe1.png')}}/> </td>
  </tr>
  <tr>
    <td><img src={{url_for('static', filename='unconreturnperiodic1.png')}}/></td>
    <td><img src={{url_for('static', filename='unconreturnall1.png')}}/></td>
  </tr>
  <tr>
    <td><img src={{url_for('static', filename='kursstdexcessreturn.png')}}/></td>
    <td><img src={{url_for('static', filename='kurssharpe.png')}}/></td>
  </tr>
  <tr>
    <td><img src={{url_for('static', filename='kursreturn.png')}}/></td>
    <td><img src={{url_for('static', filename='kursmeanperreturn.png')}}/></td>
  </tr>
  <tr>
    <td><img src={{url_for('static', filename='constd1.png')}}/></td>
    <td><img src={{url_for('static', filename='conindexreturnall1.png')}}/></td>
  </tr>
  <tr>
    <td><img src={{url_for('static', filename='conindexreturn1.png')}}/></td>
    <td><iframe src='/plot' width='750' height='400'></iframe></td>
  </tr>





<!-- <img src={{url_for('static', filename='coninsharpe.png')}}/> -->


</table>
<br>
