<h2>In USD/(currency of destination country)</h2>
<table>
<tr>
  <td>
<table border="1" class="dataframe" align="center">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>currency mean periodic return</th>
      <th>std currency excess return</th>
      <th>sharpe currency</th>
      <th>return currency (2014 - 2019) in percentage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Malaysia</th>
      <td>0.042921</td>
      <td>0.095181</td>
      <td>0.290193</td>
      <td>24.946728</td>
    </tr>
    <tr>
      <th>Indonesia</th>
      <td>0.024794</td>
      <td>0.049268</td>
      <td>0.192703</td>
      <td>14.567901</td>
    </tr>
    <tr>
      <th>Philippines</th>
      <td>0.023277</td>
      <td>0.031929</td>
      <td>0.249820</td>
      <td>14.189341</td>
    </tr>
    <tr>
      <th>Laos</th>
      <td>0.017910</td>
      <td>0.102707</td>
      <td>0.025413</td>
      <td>10.875000</td>
    </tr>
    <tr>
      <th>Vietnam</th>
      <td>0.016154</td>
      <td>0.017113</td>
      <td>0.049894</td>
      <td>10.018993</td>
    </tr>
    <tr>
      <th>Singapore</th>
      <td>0.011006</td>
      <td>0.045851</td>
      <td>-0.093651</td>
      <td>6.423611</td>
    </tr>
    <tr>
      <th>Thailand</th>
      <td>-0.012337</td>
      <td>0.059900</td>
      <td>-0.461392</td>
      <td>-9.135053</td>
    </tr>
  </tbody>
</table>
<tr>
  <td>
<table>
  <tr>
      <td><img src={{url_for('static', filename='kursstdexcessreturn.png')}}/></td>
      <td><img src={{url_for('static', filename='kurssharpe.png')}}/></td>
    </tr>
    <tr>
      <td><img src={{url_for('static', filename='kursreturn.png')}}/></td>
      <td><img src={{url_for('static', filename='kursmeanperreturn.png')}}/></td>
  </tr>
</table>