<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> Prediction for the next day of Laos</h1>
    <b>Your Input:</b>
    <p>USD/LAK = {{data['kurs: ']}}</p>
    <p>LSXC = {{data['insert: ']}}</p>
    <p>Converted = {{conawal}}</p>
    <b>Next Day Prediction:</b>
    <p>USD/LAK = {{predklaos}}</p>
    <!-- <p>LSXC = {{data['insert: ']}}</p> -->
    <p>Prediction LSXC= {{predlaos}}</p>
    <p>Prediction Converted= {{predgab}}</p>
</body>
</html>