<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> Prediction for the next day of Philippines</h1>
    <b>Your Input:</b>
    <p>USD/PHP= {{data['kursphilip: ']}}</p>
    <p>PCOMP = {{data['insertphilip: ']}}</p>
    <b>Next Day Prediction:</b>
    <p>USD/PHP= {{predkphilip}}</p>
    <!-- <p>LSXC = {{data['insert: ']}}</p> -->
    <p>Prediction PCOMP= {{predphilip}}</p>
</body>
</html>