<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> Prediction for the next day of Malaysia</h1>
    <b>Your Input:</b>
    <p>USD/MYR= {{data['kursmalay: ']}}</p>
    <p>KLCI= {{data['insertmalay: ']}}</p>
    <b>Next Day Prediction:</b>
    <p>USD/MYR = {{predkmalay}}</p>
    <!-- <p>LSXC = {{data['insert: ']}}</p> -->
    <p>Prediction KLCI= {{predmalay}}</p>
</body>
</html>