<table border="1" class="dataframe" style='width:20%'>
    <style>
        table {
          width:10%;
        }
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding: 15px;
          text-align: left;
        }
        table#t01 tr:nth-child(even) {
          background-color: #eee;
        }
        table#t01 tr:nth-child(odd) {
         background-color: #fff;
        }
        table#t01 th {
          background-color: black;
          color: white;
        }
      </style>
  <thead>
    <tr style="text-align: left;">
      <th></th>
      <th>countries</th>
      <th>sharpe ratio</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Vietnam</td>
      <td>0.487874</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Thailand</td>
      <td>0.317330</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Indonesia</td>
      <td>0.239779</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Philippines</td>
      <td>0.115549</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Singapore</td>
      <td>-0.066347</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Malaysia</td>
      <td>-0.501831</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Laos</td>
      <td>-1.112991</td>
    </tr>
  </tbody>
</table>