<table>
    <tr>
      <td>
<table border="1" class="dataframe" align="center">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>unconverted index mean periodic return</th>
      <th>unconverted index mean periodic return</th>
      <th>std ui riskpremium</th>
      <th>sharpe ui</th>
      <th>return uncoverted index (2014 - 2019) in percentage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Vietnam</th>
      <td>0.125188</td>
      <td>0.125188</td>
      <td>0.183045</td>
      <td>0.600333</td>
      <td>91.280649</td>
    </tr>
    <tr>
      <th>Indonesia</th>
      <td>0.071722</td>
      <td>0.071722</td>
      <td>0.123034</td>
      <td>0.458585</td>
      <td>45.577842</td>
    </tr>
    <tr>
      <th>Philippines</th>
      <td>0.053455</td>
      <td>0.053455</td>
      <td>0.134917</td>
      <td>0.282804</td>
      <td>30.596933</td>
    </tr>
    <tr>
      <th>Thailand</th>
      <td>0.052968</td>
      <td>0.052968</td>
      <td>0.147893</td>
      <td>0.254700</td>
      <td>28.226668</td>
    </tr>
    <tr>
      <th>Singapore</th>
      <td>0.009341</td>
      <td>0.009341</td>
      <td>0.112499</td>
      <td>-0.052971</td>
      <td>1.505363</td>
    </tr>
    <tr>
      <th>Malaysia</th>
      <td>-0.017878</td>
      <td>-0.017878</td>
      <td>0.047024</td>
      <td>-0.705560</td>
      <td>-12.805526</td>
    </tr>
    <tr>
      <th>Laos</th>
      <td>-0.083387</td>
      <td>-0.083387</td>
      <td>0.100044</td>
      <td>-0.986432</td>
      <td>-42.291810</td>
    </tr>
  </tbody>
</table>
<table>
  <tr>
    <td><img src={{url_for('static', filename='unconstd1.png')}}/> </td>
    <td><img src={{url_for('static', filename='unconsharpe1.png')}}/> </td>
  </tr>
  <tr>
    <td><img src={{url_for('static', filename='unconreturnperiodic1.png')}}/></td>
    <td><img src={{url_for('static', filename='unconreturnall1.png')}}/></td>
  </tr>
  <tr>
</table>